
:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    background-color: var(--pale-blue);
}

p {
    font-size: 16px;
}

.background {
    width: 100vw;
    
    height: 100vh;
    
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
    /*
    background-image: url(./design/desktop-design.jpg);
    */
    background-repeat: no-repeat;
    background-color: var(--pale-blue);
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 450px;
    /*
    height: 700px;
    */
    max-width: calc(100vw - 10%);
    max-height: calc(100vh - 5%);
    border-radius: 15px;
    text-align: center;
    background-color: white;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /*
    margin-top: 5%;
    margin-bottom: 5%;
    */
}

.plan__img {
    border-radius: 15px 15px 0 0;
    object-fit: contain;

}

.title {
    margin-top: 40px;
    font-size: 1.8em;
    font-weight: 600;
    color: var(--dark-blue);
}

.description {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    color: var(--desaturated-blue);
}

.plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--very-pale-blue);
    margin: 20px 45px;
    padding: 25px 40px;
    border-radius: 10px;
}

.plan__description {
    display: flex;
    flex-direction: row;
}

.plan__description--text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.plan__description--text b {
    color: var(--dark-blue);
}

.plan__description--text p {
    color: var(--desaturated-blue);
}

.plan__change a {
    font-size: 14px;
    text-decoration: none;
}

.plan__change:hover {
    cursor: pointer;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order__button {
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
    width: 80%;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin: 15px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 20px 15px 0px var(--pale-blue);
    text-decoration: none;
}

.order__button:hover {
    cursor: pointer;
    background-color: hsl(245, 66%, 72%);
}

.order__cancel {
    margin-top: 15px;
    margin-bottom: 30px;
}

.order__cancel a {
    text-decoration: none;
    color: var(--desaturated-blue);
}

.order__cancel:hover {
    cursor: pointer;
}


@media screen and (max-width: 440px ),
        screen and (max-height: 710px) {

        .main {
            background-image: url(images/pattern-background-mobile.svg);
        }

        .card {
            width: 330px;
        }

        .title {
            font-size: 1.4em;
            margin-top: 30px;
        }

        .description {
            padding-left: 35px;
            padding-right: 35px;
        }

        .plan {
            align-self: center;
            width: 90%;
            margin: 25px 25px;
            padding: 20px 20px;
        }

        .order__button {
            width: 85%;
            border-radius: 10px;
            border: none;
            padding: 10px;
            margin: 0;
        }
  }


  @media screen and (max-width: 320px) {
        p {
            font-size: .8em;
            line-height: 1.4em;
        }

        .plan {
            align-self: center;
            width: 90%;
            margin: 25px 15px;
            padding: 20px 20px;
        }

        .plan__description--text {
            padding-left: 10px;
        }

        .plan__description--text b, a, p {
            font-size: .8em;
        }

        .order__button, a {
            font-size: .8em;
        }
  }

